<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace:名称空间
id:唯一标识
resultType:返回值类型
#{id}\?  最用使用? 方便通配符
sql语句最后不加分号结尾
-->
<mapper namespace="com.mzx.security_sql.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.mzx.security_sql.pojo.Menu">
        <id property="id" column="id"/>
        <result property="pattern" column="pattern"/>
        <collection property="roles" ofType="com.mzx.security_sql.pojo.Role">
            <id property="id" column="rid"></id>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>
    
    <select id="getAllMenu" resultMap="BaseResultMap">
        select m.*,r.id AS rid,r.name AS rname,r.nameZh AS rnameZh from menu m LEFT JOIN menu_role mr ON m.id = mr.mid left join role r ON mr.rid = r.id
    </select>
</mapper>